<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Data Mining Based Model For Detection of Fraudulent Behaviour in Water Consumption</title>
</head>
<frameset rows="40%, 60%">
    <frame src="/top" noresize scrolling="NO" name="topframe">
    <frame src="/bottom" noresize scrolling="auto" name="bottomframe" >
</frameset>
<noframes>
    <body>
        <p>This page uses frames, but your browser doesn't support them.</p>
    </body>
</noframes>
</html>
